/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #141C1E;*/
    overflow: hidden;
}

#left-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    overflow: scroll;
    max-height: 100vh;
}

#right-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 75px;
}

#histo {
    width: 800px;
    height: 800px;
    display: block;
    margin: 0 auto;
}

#map-boroughs {
    width: 100%;
    height: 800px;
}
.dropdown {
    display: block;
    margin: 0 auto;
    width: 250px;
}


#leaderboard-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#title {
    font-size: 48px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
}

.info-table {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding-top: 25px;
}

.top-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
}

#title-histo{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
